* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

body {
  background-color: black;
  color: greenyellow;
  margin: 0;
  padding-bottom: env(safe-area-inset-bottom);
}

.container {
  display: flex;
  border: 2px solid greenyellow;
  height: 100svh;
  width: 100svw;

}

button {
  border: 1px solid greenyellow;
  background-color: black;
  color: greenyellow;
  padding: 10px;
  font-size: medium;
}

@media (min-width: 600px) {
  .container {
    margin: 50px auto;
    height: 820px;
    width: 500px;
  }
}